/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
    /*"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
    /*sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

/*!*code {*!*/
  /*!*font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",*!*/
    /*!*monospace;*!*/
/*!*}*/

body
{
    width: 100%;
    height: 90vh;
    background-image: url("./pictures/747Plane.jpg"), linear-gradient(to right, purple 0%, yellow 90%);
    background-repeat: no-repeat;
    background-size: auto;
    background-color:palevioletred;
    background-blend-mode: color-burn, screen;
    /*color: #fff;*/
    /*background: linear-gradient(-45deg, #0031ff, #556ee7, #23A6D5, #42d5d5);*/
    /*background-size: 400% 400%;*/
    /*-webkit-animation: Gradient 15s ease infinite;*/
    /*-moz-animation: Gradient 15s ease infinite;*/
    /*animation: Gradient 15s ease infinite;*/
}

/*@-webkit-keyframes Gradient {*/
    /*0% {*/
        /*background-position: 0% 50%*/
    /*}*/
    /*50% {*/
        /*background-position: 100% 50%*/
    /*}*/
    /*100% {*/
        /*background-position: 0% 50%*/
    /*}*/
/*}*/

/*@-moz-keyframes Gradient {*/
    /*0% {*/
        /*background-position: 0% 50%*/
    /*}*/
    /*50% {*/
        /*background-position: 100% 50%*/
    /*}*/
    /*100% {*/
        /*background-position: 0% 50%*/
    /*}*/
/*}*/

/*@keyframes Gradient {*/
    /*0% {*/
        /*background-position: 0% 50%*/
    /*}*/
    /*50% {*/
        /*background-position: 100% 50%*/
    /*}*/
    /*100% {*/
        /*background-position: 0% 50%*/
    /*}*/
/*}*/

h1,
h6 {
    font-family: 'Open Sans';
    font-weight: 100;
    position: absolute;
}

.menu
{
    margin:auto;
    color: slategray;
    background: white;
    border: 1px lightgray solid;
    width: 20%;
}

.submitButton,button
{
    background:#1AAB8A;
    color: #caff5c;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin:auto;
}
.submitButton:hover,button:hover{
    background:#fff;
    color:#1AAB8A;
}
.submitButton:before.submitButton:after,button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.submitButton:after,button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.submitButton:hover:before,.submitButton:hover:after,button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}

input
{
    alignment:center;
    width: 90%;
    top: 50%;
    text-align: center;
}

.input
{
    border-radius: 3px;
    padding: 12px 20px;
    box-sizing: border-box;
}

.menu
{
    text-align: center;
    margin:auto;

}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#root
{
    margin:auto;
    width: 100%;
    height:100%;
    text-align: center;
}


.mainTinderPage
{
    display: inline-flex;
    margin: auto;
    background:white;
    color:black;
    border: 1px lightgray solid;
    text-align:center;
    width:fit-content;
    height:50%;
}

.attributes
{
    display:block;
    text-align:center;
}

.button
{
    background: #00ecff;
    overflow:hidden;
    /*max-height: 100%;*/
    min-height: 100%;
    border: 1px solid black;

    /*width:20%*/
}

#entirePage
{
    display:block;
    height: 100%;

}

Map
{
    width: 100px;
    height:100px;
}

#acceptPage
{
    width:40%;
    height:100%;
    background: rgba(31, 47, 50, 0.75);
    border-left:#4B9CD3 solid 2px;
    border-right:#4B9CD3 solid 2px;
}